{
  config = 1;
  learningsystems = ( aleph_swipl);
  scenarios = ( carcinogenesis/1, hepatitis/1, lymphography/1, mammographic/1, mutagenesis/42, nctrer/1, premierleague/1, pyrimidine/1 );

  measures = ( fmeasure, pred_acc );
  framework = {
    crossValidationFolds = 10;
    maxExecutionTime = 330;
  };
  resultOutput = testResult.xml;
}
