{
  config = 1;
  learningsystems = ( evolearner, spacel);
  scenarios = ( carcinogenesis/1, family/uncle, hepatitis/1, lymphography/1, mammographic/1, mutagenesis/42, nctrer/1, premierleague/1, pyrimidine/1 );

  measures = ( fmeasure, pred_acc );
  framework = {
    crossValidationFolds = 10;
    maxExecutionTime = 500;
  };
  resultOutput = testResult.xml;
}
